<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" routerLink="/">Futball</a>
		</div>		
		<ul class="nav navbar-nav navbar-right">
			<li><a routerLink="/"><i class="fa fa-newspaper-o"></i> </a></li>
			<li><a routerLink="/fixtures"><i class="fa fa-calendar"></i></a></li>
			<li><a routerLink="/standings"><i class="fa fa-table"></i></a></li>
			<li><a routerLink="/settings"><i class="fa fa-cog"></i></a></li>
		</ul>
	</div>
</nav>
