<div class="row">
	<div class="col-xs-12" *ngIf="noLeagueSelected" class="text-center">
		<h4>You are almost there!</h4>
		<p>Get to know which team(s) is/are leading you favorite league(s)</p>
		<p>
			<a routerLink='/settings' class="btn btn-primary btn-block"> Select League(s)</a>
		</p>
	</div>
	<div *ngIf="!noLeagueSelected" class="col-md-12">
		<h3>Standings</h3>
		<app-section-selector (userChangedLeague)="onLeagueChange($event)"></app-section-selector>
		<app-league-table [competitionId]="leagueCompetitionId"></app-league-table>
	</div>
</div>
